<div class="container" id="post-index">
  <div class="row">
    <%= will_paginate @posts, :container => false,  renderer: WillPaginate::ActionView::BootstrapLinkRenderer%>
  </div>
  <% @posts.each do |post| %>
  <div class="row">
    <a href="/posts/<%= post.friendly_id %>">
    <div class="card mb-3">
      <div class="img-box">
      <%= image_tag(url_for(post.thumbnail), class: "card-img-top image", alt: "post-image-thumbnail", width: "100vh", style: "width: 100%") %>
      </div>

      <div class="card-body">
        <h5 class="card-title"><%= link_to post.title, post, class: "post-link"%></h5>
        <p class="card-text"><%= post.body.to_plain_text.truncate_words(25) %></p>
        <p class="card-text">
          <small class="text-muted"><%= post.updated_at.strftime("%k:%M, %e %B %Y") %> by <%= post.user.username %> | <%= pluralize(post.views, "View") %> |
          <% if current_user && current_user.admin %>
            <%= link_to "Delete", post, method: :delete, class: "delete-link" %>
          <% end %>
          </small>
        </p>
      </div>
    </div>
    </a>
  </div>
  <% end %>
</div>