
<div class="container" id="post-show">
  <div class="row">
    <div class="card-image" style="width: 100%; height: auto; overflow-y: hidden">
      <%= image_tag(url_for(@post.banner), style: "object-fit: cover; width: 100%", class: "card-img-top") %>
    </div>
    <div class="jumbotron jumbotron-fluid" id="show-page-jumbo">
      <div class="container">
        <div class="row">
          <div class="col-md">
            <h1 class="display-4">
              <%= @post.title %>
            </h1>
            <p class="lead">
              Last edited at <%= @post.updated_at.strftime("%k:%M, %e %B %Y") %> by <%= @post.user.username %> | <%= pluralize(@post.views, "View") %> |
              <% if current_user && current_user.admin %>
                <%= link_to "Edit", edit_post_path, class: "edit-link" %>
              <% end %>
            </p>
            <hr class="mt-4">
            <div class="post_body">
              <%= @post.body %>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<div class="row mt-4">
  <div class="container">
    <%= render 'comments/form', commentable: @post, local: Comment.new %>

    <div id="comment-pane">
      <% @comments.each do |comment| %>
        <%= render comment %>
      <% end %>
    </div>
  </div>
</div>
